 <nav>
  <div id="nav-left">
    <span><img id="logo" src="https://cdn-icons-png.flaticon.com/512/764/764133.png?w=826&t=st=1676620555~exp=1676621155~hmac=6944a7e80fb28b3092f5faa311d33e56f9a0b06ac5a52010f9152421d13318c3"></span>
    <a class="nav-item nav-link" href="/myresources">
      <button class="nav-btn">My Resources</button></a>
  </div>
    <a id="logo-link" href="/"><h1>Knowledge Nest</h1></a>
    <div id="nav-right">
      <div id="login-register">
        <a class="nav-item nav-link" href="/login">
          <button class="nav-btn">Login</button></a>
        <a class="nav-item nav-link" href="/register">
          <button class="nav-btn">Register</button></a>
      </div>
      <div id="search">
        <form method="GET" action="/search" id="search-form">
          <button type="submit"><i class="fa fa-magnifying-glass"></i></button>
          <input type="text" name="query" placeholder="Search...">
        </form>
      </div>
    </div>
  </nav>
