<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/resources.css" />

   <!-- FONT AWESOME LIBRARY -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/likeRate.js"></script>
</head>
<body>
  <nav>
    <span><img id="logo" src="https://www.kadencewp.com/wp-content/uploads/2020/10/alogo-2.png"></span>
    <a id="logo-link" href="/"><h1>Knowledge Nest</h1></a>
    <div id="search">
      <input type="text" placeholder="Search..">
    </div>
  </nav>
  <div id="dropdown">dropdown icon</div>
  <div id="form-container">
    <form method="post" action="/add-resource" id="form">
      <label for="title">Title: </label>
      <input
       type="text"
       name="title">
      <label for="resource_url">Resource URL: </label>
      <input
       type="text"
       name="resource_url"
      >
      <label for="description">Description: </label>
      <input
       type="text"
       name="description"
      >
      <label for="img_url">Image URL: </label>
      <input
       type="text"
       name="img_url"
      >
      <label for="tag">Tag: </label>
      <input
       type="text"
       name="tag"
       >
       <button type="submit">submit!</button>
    </form>
  </div>
  <main id="main-container">
  </main>
</body>
</html>
