body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background-color: #9BC077;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}
#main-container {
  background-color: #9BC077;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

#dropdown {
  cursor: pointer;
}

#form-container {
  display: flex;
  flex-direction: row;
  width: 90%;
}

form#resource-form {
  width: 100%;
  display: flex;
  gap: 200px;
  padding: 0 500px;
  align-items: center;
}

#form-labels {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  font-weight: bold;
}

#form-btn {
  height: 30%;
  width: 200px;
  border-radius: 10%;
  background-color:aquamarine;
  border-width: 5px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-size:large;
}

#form-btn:hover {
  filter: brightness(60%);
}

#form-btn:active {
  transform: scale(0.95);
}

.resource-container {
  background-color: #F0EAD6;
}

textarea#comment-post-text {
  width: 700px;
  height:100px;
}
