body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background-color: #9BC077;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}
