#resources-container {
  display: flex;
  gap: 20px;

}

#owned {
  border: solid black;
  padding:20px;
  align-items: center;
}

#liked {
  border: solid black;
  padding: 10px;
  align-items: center;
}

#resource-img img {
  width: 100%;
}


.buttons {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.buttons button {
  background-color:aqua;
  border: solid black;
}
