#profile-container {
  width: 60%;
  justify-content: center;
}

#profile-container h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

#full-profile {
  display: flex;
  gap: 300px;
  padding-left: 150px;
}

#profile-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
}

#aboutme-profile_pic {
  width: 40%;
}

#aboutme-profile_pic img {
  width: 70%;
  height: 70%;
}
